.contact_us {
  background-image: url(../images/bcg-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f67e7e;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact_us_container {
  display: flex;
  justify-content: space-between;
  height: 200px;
  max-width: 920px;
  width: 100%;
  align-items: center;
  align-content: center;
}

.contact_us_container h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;
  color: #012f34;
}
.contact_us_container a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  border: 2px solid ;
  border-radius: 24px;
  padding: 10px 32px;
}

.contact_us_container a:hover{
    color: white;
}